<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Grocery List App</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Custom CSS -->

  <!-- Google Fonts -->

</head>

<body class="teal lighten-4">
  <div class="container">
    <h1>Grocery List</h1>

    <!-- Form to add new grocery item -->

    <!-- <form action="/" method="post">
        <input type="text" name="item">
        <input type="submit" value="+ Add Item">
    </form> -->


    <div class="row">
      <form class="col s12" action="/" method="post">
        <div class="row">
          <div class="input-field col s4">
            <input type="text" name="item" class="validate" id="item">
            <label for="item">Item</label>
          </div>
          <div class="input-field col s2">
            <input type="number" name="quantity" class="validate" id="quantity">
            <label for="quantity">Quantity</label>
          </div>

          <button class="btn-floating waves-effect waves-light" type="submit" name="action">
          <i class="material-icons">add</i>
          </button>
        </div>
      </form>
    </div>


    <!-- Grocery List -->
    <ul>
      <% groceries.forEach(function(groceryItem) { %>
            <li><%= groceryItem.item %> - <%= groceryItem.quantity %></li>
        <% }) %>
    </ul>
  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>

</html>
